<a ng-href="#!/movie/{{ $ctrl.movie.id }}">
  <div class="card mb-4">
    <img class="card-img-top" ng-if="$ctrl.movie.posterUrl" ng-src="{{ $ctrl.movie.posterUrl }}">
    <div class="card-body">
      <h5 class="movie-miniature__title card-title">{{ $ctrl.movie.title }}</h5>
      <p class="card-text">{{ $ctrl.movie.release_date }}</p>
    </div>
  </div>
</a>
