
@import "../imports";

.movies-discovery {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.movies-discovery__nav {
  flex-shrink: 0;
}

.movies-discovery__content {
  flex-grow: 1;
}
