
<div ng-if="$ctrl.movie">
  <div class="movie__backdrop"
    ng-if="$ctrl.movie.backdropUrl"
    ng-style="{'background-image': 'url(' + $ctrl.movie.backdropUrl + ')', color: 'red'}">
    
  </div>

  <div class="container">
    <h1 class="my-5">{{ $ctrl.movie.title }}</h1>
    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          <div class="card-body">
            <p class="card-text"><label>Release date:</label> {{ $ctrl.movie.release_date }}</p>
            <p class="card-text"><label>Rating:</label> {{ $ctrl.movie.vote_average }}</p>
            <p class="card-text">{{ $ctrl.movie.overview }}</p>
          </div>
        </div>
      </div>
      <div 
        ng-if="$ctrl.movie.posterUrl"
        class="col-md">
        <div class="card mb-4">
          <img class="card-img-top" ng-src="{{ $ctrl.movie.posterUrl }}">
        </div>
      </div>
    </div>
  </div>
</div>
