
<div class="container">
  <h1 class="my-5">Search</h1>
  <div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Search"
          ng-model="$ctrl.search" ng-change="$ctrl.changeSearch()">
      </div>
    </form>
  </div>
  <div class="row" ng-if="$ctrl.movies.length >= 1" infinite-scroll="$ctrl.scroll()" infinite-scroll-distance="1">
    <div ng-repeat="movie in $ctrl.movies" class="col-md-3">
      <movie-miniature movie="movie"></movie-miniature>
    </div>
  </div>
</div>
